
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Ubuntu:wght@300&display=swap');
:root{
    --cor-texto: #000000;
    --cor-fundo:  #f0f05f31;
    --cor-principal: #f0f05f;
    --cor-segundaria: #f5f5f5;
    --cor-resposta: #010107; 
    --font-titulo:  'Josefin Sans', sans-serif;
    --font-conteudo: 'Ubuntu', sans-serif;
}
body{
    /* background-image:  url('../img/cerveja2.avif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size:contain; */
    background-color: var(--cor-fundo);
    font-family: var(--font-titulo);
    color: var(--cor-texto);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    align-items: center;
    opacity: 0.9;

}

.info{
    margin-top: 1rem;
    text-align: center;
}

h1{
    font-weight: 300;
    font-size: 2.6rem;
    margin: 0.3rem;
}   

.mensagem{
    font-family: var(--font-conteudo);
    font-weight: 300;   
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 18.9rem;
    margin-left: 3rem;  
    border-radius: 2rem;
    color: var(--cor-resposta);
    background: url('../img/espuma.jpg');

}
.resposta{
    padding-top: 1rem;
    margin-left: 2rem;  
}
.dica{
    margin-top: 1rem;
    padding: 2rem 2rem;
    background: url('../img/parte-de-baixo.jpg');
    color: var(--cor-resposta);
    border-color:  var(--cor-principal);
    border-style: groove;
    border-width: 2.5px 0px 0px 0px;
    border-top-left-radius: 6rem;
    border-top-right-radius: 2rem;
    font-size: 1.7rem;
    opacity: 1;
}
.box{
    margin-left: 1rem;
}

#botao{
    padding: 1rem;
    background-color: black;
    color: yellow;
    border: 1px solid;
}